@model List<arabakiralam.Models.Car>
@{
    ViewData["Title"] = "CarList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@* <h1>CarList</h1>
@foreach(var item in Model)
{
    <h1>@item.PlateNumber</h1>
}
 *@
 <div class="container-fluid">
     <div class="row mt-5 pt-5">
         <div class="col-2">

            @await Component.InvokeAsync("CarSelectList")

         </div>
         <div class="col-10">
             <div id="sonuc">


             <table class="table">
                 <thead class="thead-dark">
                    <tr>
                        <td>Resimi</td>
                        <td>Plakası</td>
                        <td>Yılı</td>
                        <td>Günlük Ücreti</td>
                    </tr>
                 </thead>
                 
                 @foreach(var item in Model)
                {
                    <tr>
                        <td>@if(item.CarImages!=null && item.CarImages.Any())
                            {
                             <img src="@item.CarImages.First().CarImagesUrl" height="200" width="200"/>    
                            
                            }
                            else
                            {
                                <img src="/Images/resim_yok.jpg" height="200" width="200"/>
                            }
                        </td>
                        <td>@item.PlateNumber</td>
                        <td>@item.Year</td>
                        <td>@item.DailyPrice</td>
                    </tr>
                }
            </table>
            </div>
         </div>
     </div>
 </div>