@model arabakiralam.Models.CarImages

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CarImages</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarImagesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarImagesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarImagesUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarImagesUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.CarId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarImagesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
